:root {
  --color-primary: #63c5ff;
  --color-secondary: #bbb;
  --border-radius: 5px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  max-width: 1000px;

  margin: 0 auto;
}

.theme {
  transition: 0.5s all ease-in-out;
  min-height: 100vh;
}

.light {
  background-color: white;
  color: #111;
}

.dark {
  background-color: #111;
  color: #bbb;
}
